#about-us {
  padding: 100px 0; 


  .image-profile {

    .image {
      height: 400px;
      width: 400px;
      background-image: url('../images/image-7.jpg');
      background-size: cover;
      background-position: 70%;
      border-radius: 100%;
    }

  }

  .content {

    padding-left: 60px;

    .title_section {
      margin-bottom: 30px;
    }

    .desc_section {
      margin-bottom: 50px;
    }

    p {
      font-weight: 500;
      line-height: 1.8;
      letter-spacing: 0.5px;
    }

    .author {
      img {
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-top: 10px;
        margin-right: 15px;
      }

      h5 {
        display: block;
        color: $c-black;
        font-weight: 700;
        padding-top: 10px;

        span {
          display: block;
          font-weight: 400;
          color: $c-content;
          font-size: 14px;
          margin-top: 5px;

        }
      }
    }

  }
  .statistic {
    margin-top: 180px;
    text-align: center;

    h5 {
      display: block;
      font-size: 68px;
      color: $c-black;
    }

    span {
      display: block;
      font-size :15px;
      color: $c-content;
      margin-top: 10px;
    }
  }

}
