#main-header {
  background-image: url(../images/bg-header.jpg);
  z-index: 0;
  position: relative;
  background-position: 20%;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  min-height: 800px;

  @media screen and (max-width: 992px) {
    min-height: 768px;
  }

  @media screen and (max-width: 667px) {
    min-height: 450px;
  }

  @media screen and (max-width: 375px) {
    min-height: 400px;
    height: 80vh;
  }

  @media screen and (max-width: 320px) {
    min-height: 400px;
    height: 80vh;
  }

  &:after  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    z-index: -1;

  }

  .navbar {
    padding: 50px 0 0;

    .navbar-brand {
      color: $w;
      font-size: 24px;
      font-weight: 500;
    }

    .navbar-toggler {
      outline: none;
      border-color: $w;

      .fa {
	color: $w;
      }
    }

    .navbar-nav {

      li {

	a {
	  display: block;
	  color: $w;
	  font-size: 18px;
	  padding: 10px 25px;
	  font-weight: 500;
	  opacity: 0.9;
	}
	.btn {
	  background-color: $c-primary;
	  letter-spacing: 0.8px;
	  font-size: 14px;
	  text-transform: uppercase;

	}
      }
    }

    @media screen and (max-width: 992px) {

      padding-top: 30px;

      .collapse.show,
      .collapsing {
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: $c-black;
	top: 95px;
	left: 0;

	.navbar-nav {
	  padding: 30px 0;
	}

	ul {

	  li {

	    a {
	      padding-top: 15px;
	      padding-bottom: 15px;	
	    }
	  }
	}


	.btn {
	  display: inline-block;
	  margin-left: 0 !important;
	  margin-top: 10px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
      }
    }
  }

  #hero-content {
    max-width: 650px;
    padding-top: 220px;

    p {
      font-size : 22px;
    }

    h1 {
      color: $w;
      font-size: 52px; 
      font-weight: 700;
      margin-bottom: 50px;

    }

    .btn {
      display: inline-block;
      padding: 10px 30px;
      color: $w;
      border: 1px solid $w;

      &:hover,&:active,&:focus {
	background-color: $w;
	color: $c-black;
      }
    }

    @media screen and (max-width: 667px) {
      padding-top: 100px;

      p { 
	font-size: 16px;
      }

      h1 {
	font-size :38px;
	margin-bottom: 30px;
      }
    }

    @media screen and (max-width: 320px) {

      h1 {
	font-size: 28px;
	line-height: 1.3;
      }

      .btn {
	font-size: 14px;
      }
    }
  }
}
