#services {
  padding: 180px 0;
  text-align: center;

  .list_services {
    margin-top: 80px;

    .content { 
      border: 1px solid $c-ef; 
      border-radius: 5px;
      margin: 0 20px;
      transition: all 0.35s ease-in-out;

      .icon {
	color: $c-primary;
	padding: 60px 0;
	font-size: 56px;
      }

      h4 {
	color: $c-black;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;

      }

      p {
	padding: 0 25px;
	margin-bottom: 60px;
      }

      .fa-long-arrow-right {
	color: $c-primary;
	font-size: 25px;
	margin-bottom: 60px;
	opacity: 0.35;

	transition: all 0.35s ease-in-out;
      }

      &:hover, &:focus, &:active {
	margin-top: -10px;

	border-color: rgba(0,0,0,0.02);
	box-shadow: 0 5px 28px rgba(0,0,0,0.8);

	.fa-long-arrow-right {
	  color: $c-primary;
	  opacity: 1;
	}
      }
    }
  }

  .btn_see_all {
    display: inline-block;
    color: $c-black;
    margin-top: 60px;
    border: 1px solid $c-ef;
    border-radius: 5px;
    padding: 12px 35px;
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: $w;
      background-color: $c-primary;
    }
  }
}
